*{
    margin: 0;
    padding: 0;
}

html, body{
    font-family: 'poppins', sans-serif;
    font-size: 14px;
    width: 100%;
    line-height: 1.7em;
    /* overflow-x: hidden; */
    color: #707070;
}

h1, h2{
    font-weight: bold;
}


a{
    text-decoration: none;
    color: #707070;
}

/******************************************************************/
/******************************************************************/
/* Button */
/******************************************************************/
/******************************************************************/
.Btn{
    background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 0.6em 3.8em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 5px;
  font-weight: bold;
  font-size: 11px;
  box-shadow: 0px 5px 30px -10px rgba(0,0,0,0.75);
}

.Btn-blue{
    background: #106ca4;
    border: none;
}

/******************************************************************/
/******************************************************************/
/* End Button */
/******************************************************************/
/******************************************************************/


/******************************************************************/
/******************************************************************/
/* Image */
/******************************************************************/
/******************************************************************/
.img-src{
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
/******************************************************************/
/******************************************************************/
/* End Image */
/******************************************************************/
/******************************************************************/

/******************************************************************/
/******************************************************************/
/* Card */
/******************************************************************/
/******************************************************************/

.Card{
    width: 15em;
    height: 20em;
    margin: 0;
    margin-right: 3em;
}

.image-card{
    width: 100%;
    height: 15.5em;
    border-radius: 15px;
    overflow: hidden;
}

.Card h2{
    font-size: 20px;
    padding-top: 1em;
    padding-bottom: 0.8em;
    margin: 0;
}

.Card h3{
    font-size: 14px;
    padding-bottom: 1em;
    font-weight: 500;
}

.Cards-over{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 3em;
}

.Card-over{
    position: relative;
    width: 18em;
    height: 13em;
    border-radius: 9px;
    overflow: hidden;
    color: #fff;
}

.Card-over h2{
    margin-top: 2em;
    font-weight: bold;
}


.Card-over .Orvelay{
    padding: 2em;
}

.Orvelay{
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.8;
}

.Card_container{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
}



/******************************************************************/
/******************************************************************/
/* End Card */
/******************************************************************/
/******************************************************************/

/******************************************************************/
/******************************************************************/
/* Header */
/******************************************************************/
/******************************************************************/

#header{
    /* position: fixed;
    z-index: 8; */
    padding: 0 4.5rem;
    -webkit-box-shadow: 0px 5px 10px -10px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 5px 10px -10px rgba(0,0,0,0.75);
    box-shadow: 0px 5px 10px -10px rgba(0,0,0,0.75);
}

.navbar{
    font-size: 14px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    height: 4em;
    width: 100%;
    /* border: 1px solid #111; */
}

.left{
    /* flex: 0 1 50%; */
}

.lien_logo{
    font-weight: 800;
}

.rigth{
    display: flex;
    flex-direction: row;
    align-items: center;
    color: rgba(0,0,0,0.2);
}

.menu{
    margin-right: 2em;
}

.lien_menu{
    padding: 2em 0.5em;
    margin-right: 2em;
    color: rgba(0,0,0,0.6);
}

.bar{
    width: 0.13em;
    height: 1.2em;
    background: #BEBDBD;
}

.user{
    margin-left: 2em;
}

.lien_user{
    padding: 2em 0.5rem;
    margin-left: 2em;
    color: rgba(0,0,0,0.6);
}

.login{
    color: #1e27ae;
}

.connecter{
    color: #106CA4;
}

/******************************************************************/
/******************************************************************/
/* End Header */
/******************************************************************/
/******************************************************************/


/******************************************************************/
/******************************************************************/
/* Carossel */
/******************************************************************/
/******************************************************************/

#carossel{
    display: flex;
    line-height: 2.2em;
    padding: 0;
    height: 35em;
}

.image{
    width: 50%;
    height: 100%;
    padding: 0;
}

.info{
    width: 50%;
    height: 100%;
    padding: 0 5em;
}

.info h2{
    font-size: 2.5rem;
    margin-bottom: 1.5em;
    margin-top: 1.5em;
    line-height: 1.5em;
}

.info p{
    margin-bottom: 3em;
    
}
/******************************************************************/
/******************************************************************/
/* End Carossel */
/******************************************************************/
/******************************************************************/

/******************************************************************/
/******************************************************************/
/* section-1 */
/******************************************************************/
/******************************************************************/

#section-1{
    width: 100%;
    /* height: 15em; */
    /* padding: 0 6em; */
    /* margin-bottom: 3em; */
    border-top: 1px solid #BEBDBD;
}

#section-1 .container{
    padding: 5em 6em;
}

#section-1 h2{
    font-size: 28px;
    font-weight: 800;
    margin: 6rem 0 2rem 0;
    line-height: 1.5em;
}

#section-1 p{
    line-height: 2.5em;
}

#section-1 a{
    margin-bottom: 5rem;
}

#section-1 .container_text{
    width: 70%;
    margin-bottom: 4rem;
}

/******************************************************************/
/******************************************************************/
/* End section-1 */
/******************************************************************/
/******************************************************************/


/******************************************************************/
/******************************************************************/
/* Section creation */
/******************************************************************/
/******************************************************************/

#creation{
    /* padding: em; */
    border-top: 1px solid #BEBDBD;
    border-bottom: 1px solid #BEBDBD;
}

header

#creation h2{
    margin-bottom: 2.5em;
}

#creation .header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 4rem;
}

#creation .container{
    padding: 6em 6em;
}

.creation_contenu{
    /* padding: 1em 0; */
}

.creation .lien_mobile{
    display: none;
}

/******************************************************************/
/******************************************************************/
/* Section End Section creation */
/******************************************************************/
/******************************************************************/

/******************************************************************/
/******************************************************************/
/*Section categorie */
/******************************************************************/
/******************************************************************/

#categorie{
    /* border-bottom: 1px solid rgba(0,0,0,0.6); */
}

#categorie h2{
    margin-bottom: 1em;
}

#categorie .container{
    padding: 6rem 6rem;
}

/******************************************************************/
/******************************************************************/
/* End Section categorie */
/******************************************************************/
/******************************************************************/

/******************************************************************/
/******************************************************************/
/*Section article */
/******************************************************************/
/******************************************************************/

#article{
    /* padding: em; */
    border-top: 1px solid #BEBDBD;
    border-bottom: 1px solid #BEBDBD;
}

#article h2{
    margin-bottom: 2.5em;
}

#article .container{
    padding: 4em;
}

#article .slider{
    padding: 4em;
}

.article_contenu{
    /* padding: 1em 0; */
}

/******************************************************************/
/******************************************************************/
/*End Section article */
/******************************************************************/
/******************************************************************/

/******************************************************************/
/******************************************************************/
/*Section Email */
/******************************************************************/
/******************************************************************/

#email{
    text-align: center;
    /* border-top: 1px solid rgba(0,0,0,0.6);
    border-bottom: 1px solid rgba(0,0,0,0.6);  */
    background: #f1f1f1;  
}

#email .container{
    padding: 4em;
}

#email h2{
    font-size: 28px;
    font-weight: bold;
    color: #106CA4;
    margin-bottom: 4rem;
}

#email p{
    margin-bottom: 4rem;
}

#email input[type=text] {
padding: 0.45em;
/* margin-top: 8px; */
font-size: 17px;
/* border: none; */
/* border: 1px solid #111; */
width: 20em;
border: none;
}

#email .search-container{
    /* width: 250px; */
    /* border: 1px solid #111; */
}

#email .search-container button {
/* float: right; */
padding: 0.56em 2em;
margin-left: -0.3em;
/* margin-top: 8px;
margin-right: 16px; */
background: #106CA4;
font-size: 17px;
border: none;
cursor: pointer;
left: 1%;
color: #fff;
}

#email .search-container button:hover {
background: #ccc;
color: blue;
}
/******************************************************************/
/******************************************************************/
/*End Section Email */
/******************************************************************/
/******************************************************************/


/******************************************************************/
/******************************************************************/
/*Section Box */
/******************************************************************/
/******************************************************************/

#box {
    text-align: center;
    background: #f1f1f1;
    margin-top: 0.5em;
}

#box .container{
    padding: 4em;
}

#box h2{
    margin: 2em 0;
}

#box a{
    margin: 3em 0 2em 0;
}

/******************************************************************/
/******************************************************************/
/*End Section Box */
/******************************************************************/
/******************************************************************/


/******************************************************************/
/******************************************************************/
/*Section Navbar 2 */
/******************************************************************/
/******************************************************************/

#navbar_2{
    display: flex;
    justify-content: center;
    -webkit-box-shadow: 0px 5px 5px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 5px 5px -4px rgba(0,0,0,0.75);
    box-shadow: 0px 5px 5px -7px rgba(0,0,0,0.75);
}

#navbar_2 .container {
    display: flex;
    justify-items: center;
}

#navbar_2 .container div{
    padding: 0.9em 0.7em;
    margin-right: 3em;
    border-bottom: 3px solid #fff;
}

#navbar_2 .container div:hover{
    border-bottom: 3px solid #111;
}



/******************************************************************/
/******************************************************************/
/*End Section Navbar 2 */
/******************************************************************/
/******************************************************************/


/******************************************************************/
/******************************************************************/
/*Section Blog */
/******************************************************************/
/******************************************************************/

#blog .container{
    padding: 6em 10em;
}

.card_blog{
    display: flex;
    flex-direction: row;
    padding: 3em 0;
    justify-content: space-between;
    border-bottom: 1px solid #BEBDBD;
}

.text{
    width: 70%;
}

.text h2{
    padding-bottom: 2em;
}

.text p{
    line-height: 2em;
}

.image_blog{
    width: 25%;
    border-radius: 8px;
    overflow: hidden;
}

.image_blog img{
    width: 100%;
    height: 100%;
    border-radius: 6px;
}

/******************************************************************/
/******************************************************************/
/*End Section Blog */
/******************************************************************/
/******************************************************************/

/******************************************************************/
/******************************************************************/
/*Section Article */
/******************************************************************/
/******************************************************************/

#article_unique .container{
    padding: 6em 10em;
}

#article_unique .image_article{
    height: 25em;
    padding-bottom: 2em;    
}

#article_unique .text{
    width: 100%;
}

/******************************************************************/
/******************************************************************/
/*End Section Article */
/******************************************************************/
/******************************************************************/


/******************************************************************/
/******************************************************************/
/*Section Chapitre */
/******************************************************************/
/******************************************************************/
#chapitre{
    background: #BEBDBD;
    margin: 1rem 0 0 0;
}


#chapitre .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin: 3rem 0; */
}

#chapitre .img_chap{
    margin: 3rem 0;
}


.img_chap{
    width: 10rem;
    height: 12rem;
    border-radius: 1rem;
}

#chapitre .titre{
    color: #fff;
    margin-bottom: 2rem;
}
/******************************************************************/
/******************************************************************/
/*End Section Chapitre */
/******************************************************************/
/******************************************************************/


/******************************************************************/
/******************************************************************/
/*Section Main */
/******************************************************************/
/******************************************************************/

#main{
    margin: 2rem 10rem;
}

#main .infos{
    display: flex;
    flex-direction: row;
    /* justify-content: space-between;      */
    margin: 0 2rem;
}

#main .img{
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
}

#main .auteur{
    display: flex;
    flex-direction: row;
    align-items: center;
    border-right: 1px solid #BEBDBD;
    padding: 1rem 2rem 0 2rem;
    margin-right: 2rem
}

#main .vue{
    border-right: 1px solid #BEBDBD;
    border-left: 1px solid #BEBDBD;
    padding: 1rem 2rem 0 2rem;
}

#main .date{
    border-right: 1px solid #BEBDBD;
    border-left: 1px solid #BEBDBD;
    padding: 1rem 2rem 0 2rem;
}

#main .categorie{
    padding: 1rem 2rem 0 2rem;
}

/******************************************************************/
/******************************************************************/
/*End Section Main */
/******************************************************************/
/******************************************************************/